<a href="https://colab.research.google.com/github/klipbn/klip_alex/blob/main/determination_average_number_lodsman_users/determination_average_number_lodsman_users.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Key ID:  
458744584072543631 - not actived  
719635943846940421 - ЛОЦМАН:КБ 2022,HSL,сетвр  
834732166184233058 - ОЭ КОМПАC-3D v20,HSL,сетвр  
982786152807025115 - ЛОЦМАН:КБ 2021,HSL,сетвр  

Productid:  
3197 ЛОЦМАН:КБ 2022,HSL,сетвр   
3258 КОМПАC-3D v20,HSL,сетвр

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.display.max_colwidth = 100

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Projects/determination_average_number_lodsman_users/logs/2022_01_12_access.log', sep=r' ', skiprows=1, error_bad_lines=False)
df.columns = ['nan',	'nan1',	'date', 'time',	'ip',	'user',	'port',	'api' ,	'features' ,	'result' ,	'nan2']
df.drop(['nan', 'nan1', 'nan2'], axis=1, inplace=True)

b'Skipping line 5088: expected 11 fields, saw 15\n'

In [ ]:
df = df.dropna(subset=['user', 'features'])

In [ ]:
#df['user'].unique()

In [ ]:
mask = df["user"].str.contains(r"Администратор")
dff = df.loc[mask]

In [ ]:
mask = dff["features"].str.contains(r"productid=3197")
dff = dff.loc[mask]
mask = dff["features"].str.contains(r"LOGIN_EX")
dff = dff.loc[mask]

In [ ]:
for i in range(1, 30):
  df = pd.read_csv(f"/content/drive/My Drive/Projects/determination_average_number_lodsman_users/logs/2021_11_{i:02d}_access.log", sep=r' ', skiprows=1, error_bad_lines=False, warn_bad_lines=False)
  df.columns = ['nan',	'nan1',	'date', 'time',	'ip',	'user',	'port',	'api' ,	'features' ,	'result' ,	'nan2']
  df.drop(['nan', 'nan1', 'nan2'], axis=1, inplace=True)
  df = df.dropna(subset=['user', 'features'])
  mask = df["user"].str.contains(r"Администратор")
  dff = df.loc[mask]
  mask = dff["features"].str.contains(r"productid=3197")
  dff = dff.loc[mask]
  mask = dff["features"].str.contains(r"LOGIN_EX")
  dff = dff.loc[mask]
  print(len(dff[['time', 'features']]))

314
42
241
0
0
0
0
259
46
519
76
71
0
0
91
96
52
188
99
0
0
49
52
71
37
31
0
0
39

___________________________________________________________

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Projects/determination_average_number_lodsman_users/logs/2022_01_12_access.log', sep=r' ', skiprows=1, error_bad_lines=False, warn_bad_lines=False)
df.columns = ['nan',	'nan1',	'date', 'time',	'ip',	'user',	'port',	'api' ,	'features' ,	'result' ,	'nan2']
df.drop(['nan', 'nan1', 'nan2'], axis=1, inplace=True)
df = df.dropna(subset=['user', 'features'])
mask = df["user"].str.contains(r"Администратор")
dff = df.loc[mask]
mask = dff["features"].str.contains(r"productid=3197")
dff = dff.loc[mask]
#mask = dff["features"].str.contains(r"LOGIN_EX")
#dff = dff.loc[mask]
dff

               date  ...     result
8239   0}2022-01-12  ...  result(0)
8426   0}2022-01-12  ...  result(0)
9767   0}2022-01-12  ...  result(0)
10542  0}2022-01-12  ...  result(0)
11080  0}2022-01-12  ...  result(0)
11821  0}2022-01-12  ...  result(0)
12680  0}2022-01-12  ...  result(0)
14037  0}2022-01-12  ...  result(0)
14453  0}2022-01-12  ...  result(0)
15676  0}2022-01-12  ...  result(0)
19030  0}2022-01-12  ...  result(0)
19724  0}2022-01-12  ...  result(0)
21005  0}2022-01-12  ...  result(0)

[13 rows x 8 columns]

______________

In [ ]:
zz = pd.DataFrame(str(dff["features"][:1]).split(',')).T
zz.columns = ['median_time', 'stations', 'stations', 'stations', 'stations', 'stations', 'stations', 'stations' ]

In [ ]:
zz

                 median_time  ...        stations
0  8239    LOGIN_EX(lm=local  ...   dtype: object

[1 rows x 8 columns]

In [ ]:
zz2 = pd.DataFrame(str(dff["features"][1:2]).split(',')).T
zz2.columns = ['median_time', 'stations', 'stations', 'stations', 'stations', 'stations', 'stations', 'stations' ]

In [ ]:
pd.concat([zz, zz2], ignore_index=True)

                 median_time  ...        stations
0  8239    LOGIN_EX(lm=local  ...   dtype: object
1    8426    LOGOUT(lm=local  ...   dtype: object

[2 rows x 8 columns]

_____________

In [ ]:
for i in range(len(dff)-1):
  if i == 0: 
    zz555 = pd.DataFrame([np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN]).T
    zz555.columns = ['median_time', 'haspid', 'productid', 'feat', 'sess', 'api', 'span', 'dtype' ]
    zz = pd.DataFrame(str(dff["features"][i:i+1]).split(',')).T
    zz.columns = ['median_time', 'haspid', 'productid', 'feat', 'sess', 'api', 'span', 'dtype' ]
    zz2 = pd.DataFrame(str(dff["features"][i+1:i+2]).split(',')).T
    zz2.columns = ['median_time', 'haspid', 'productid', 'feat', 'sess', 'api', 'span', 'dtype' ]
    zz555 = pd.concat([zz555, zz, zz2], ignore_index=True)
  else:
    zz = pd.DataFrame(str(dff["features"][i:i+1]).split(',')).T
    zz.columns = ['median_time', 'haspid', 'productid', 'feat', 'sess', 'api', 'span', 'dtype' ]
    zz2 = pd.DataFrame(str(dff["features"][i+1:i+2]).split(',')).T
    zz2.columns = ['median_time', 'haspid', 'productid', 'feat', 'sess', 'api', 'span', 'dtype' ]
    zz555 = pd.concat([zz555, zz, zz2], ignore_index=True)

In [ ]:
zzz5556 = zz555.drop_duplicates().dropna().reset_index()

In [ ]:
zzz5556

    index                 median_time  ...                      span           dtype
0       1   8239    LOGIN_EX(lm=local  ...   span=5)\nName: features   dtype: object
1       2     8426    LOGOUT(lm=local  ...    spa...\nName: features   dtype: object
2       4   9767    LOGIN_EX(lm=local  ...   span=4)\nName: features   dtype: object
3       6  10542    LOGIN_EX(lm=local  ...  span=10)\nName: features   dtype: object
4       8  11080    LOGIN_EX(lm=local  ...   span=5)\nName: features   dtype: object
5      10    11821    LOGOUT(lm=local  ...     sp...\nName: features   dtype: object
6      12  12680    LOGIN_EX(lm=local  ...   span=6)\nName: features   dtype: object
7      14  14037    LOGIN_EX(lm=local  ...   span=4)\nName: features   dtype: object
8      16    14453    LOGOUT(lm=local  ...    spa...\nName: features   dtype: object
9      18    15676    LOGOUT(lm=local  ...     sp...\nName: features   dtype: object
10     20  19030    LOGIN_EX(lm=local  ...  span=12)\nName: features   dtype: object
11     22  19724    LOGIN_EX(lm=local  ...   span=4)\nName: features   dtype: object
12     24    21005    LOGOUT(lm=local  ...     sp...\nName: features   dtype: object

[13 rows x 9 columns]

In [ ]:
dff =dff.reset_index()

In [ ]:
df123 = dff.merge(zzz5556, how='outer', left_index=True, right_index=True)
df123.drop(['index_x', 'index_y', 'port', 'features', 'result', 'median_time', 'api_y', 'span', 'dtype'], axis=1, inplace=True)

In [ ]:
df123

            date      time  ...      feat           sess
0   0}2022-01-12  08:45:21  ...  feat=622  sess=000002C9
1   0}2022-01-12  08:50:25  ...  feat=622  sess=000002C9
2   0}2022-01-12  09:23:39  ...  feat=622  sess=000002CE
3   0}2022-01-12  09:42:14  ...  feat=622  sess=000002CF
4   0}2022-01-12  09:54:08  ...  feat=622  sess=000002D2
5   0}2022-01-12  10:10:36  ...  feat=622  sess=000002CE
6   0}2022-01-12  10:29:38  ...  feat=622  sess=000002D3
7   0}2022-01-12  10:59:48  ...  feat=622  sess=000002D4
8   0}2022-01-12  11:09:01  ...  feat=622  sess=000002D4
9   0}2022-01-12  11:36:39  ...  feat=622  sess=000002D3
10  0}2022-01-12  12:52:20  ...  feat=622  sess=000002E2
11  0}2022-01-12  13:07:58  ...  feat=622  sess=000002E5
12  0}2022-01-12  13:35:21  ...  feat=622  sess=000002E2

[13 rows x 9 columns]